<div class="container">
    <h1 class="fs-2 mt-2 mb-4">Deseja excluir <span class="fw-bold">{{detalhesMedico?.nome}}</span> ?</h1>

    <div class="card col-6">
        <div class="card-body">
            <div class="card-title fw-semibold">{{detalhesMedico?.nome}}</div>
            <div class="card-text">Telefone: {{detalhesMedico?.telefone}}</div>
            <div class="card-text">CPF: {{detalhesMedico?.cpf}}</div>
            <div class="card-text">CRM: {{detalhesMedico?.crm}}</div>
        </div>

        <div class="card-body">
            <button class="btn btn-danger m-2 fw-bold" (click)="excluir()">Excluir</button>
            <a class="btn btn-secondary" [routerLink]="['/medico', 'listar']">Voltar</a>
        </div>
    </div>
</div>