<div class="container">
    <h1 class="fs-2 mt-2 mb-4">Deseja excluir <span class="fw-bold">{{detalhesMedico.nome}}</span> ?</h1>

    <div class="card col-6">
        <div class="card-body">
            <div class="card-text">Telefone: <strong>{{detalhesMedico.telefone | mask: '(00) 00000-0000'}}</strong>
            </div>
            <div class="card-text">CPF: <strong>{{detalhesMedico.cpf | mask: '000.000.000-99'}}</strong></div>
            <div class="card-text">CRM: <strong>{{detalhesMedico.crm | mask: '00000-SS"'}}</strong></div>
        </div>

        <div class="card-body">
            <button class="btn btn-danger m-2 fw-bold" (click)="excluir()">Excluir</button>
            <a class="btn btn-secondary" [routerLink]="['/medico', 'listar']">Voltar</a>
        </div>
    </div>
</div>