<div class="container">
    <h1 class="fs-2 mt-2 mb-4">Deseja excluir (nome do Médico aqui)?</h1>

    <div class="card col-6">
        <div class="card-body">
            <div class="card-title fw-semibold">Nome do medico</div>
            <div class="card-text">telefone</div>
            <div class="card-text">Cpf</div>
            <div class="card-text">Crm</div>
        </div>

        <div class="card-body">
            <button class="btn btn-danger m-2 fw-bold">Excluir</button>
            <button class="btn btn-secondary">Voltar</button>
        </div>
    </div>
</div>