<div class="container">
    <h1 class="fs-2 mt-2 mb-3">Médicos</h1>

    <a [routerLink]="['/medico','cadastrar']" class="btn btn-primary btn-sm">Cadastrar</a>

    <hr>
    <div class="row">
        <div *ngFor="let item of medicos" class=" col-lg-3">
            <div class="card m-1">
                <div class="card-body">
                    <div class="card-title fw-semibold fs-5">{{item.nome}}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Telefone: {{item.telefone}}</li>
                        <li class="list-group-item">CRM: {{item.crm}}</li>
                    </ul>
                    <div class="card-body">
                        <a [routerLink]="['/medico','editar',item.id]" class="btn btn-primary m-1">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a [routerLink]="['/medico','excluir',item.id]" class="btn btn-danger m-1  ">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>