<div class="container">
    <h1 class="fs-2 mt-2 mb-3">Médicos</h1>

    <a [routerLink]="['/medico','cadastrar']" class="btn btn-primary btn-sm">Cadastrar</a>

    <hr>
    <div class="row">
        <div class="d-lg-flex">
            <div *ngFor="let item of medicos" class="card m-1 col-lg-3">
                <div class="card-body">
                    <div class="card-title fw-sembold">{{item.nome}}</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{item.telfone}}</li>
                        <li class="list-group-item">{{item.crm}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="btn btn-primary m-1  ">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-danger m-1  ">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>