<div class="container">
    <h1 class="fs-2 fw-semibold m-3">Dashboard</h1>

    <div class="row">
        <div class="d-flex col-8">
            <div class="card m-1">
                <div class="card-body">
                    <div class="card-title">Titulo do card</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, fugit?</div>
                    <a href="#" class="btn btn-primary m-1 btn-sm">
                        <i class="bi bi-play-fill "></i>
                    </a>
                    <a href="#" class="btn btn-danger m-1 btn-sm ">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>
            </div>

            <div class="card m-1">
                <div class="card-body">
                    <div class="card-title">Titulo do card</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, fugit?</div>
                    <a href="#" class="btn btn-success m-1 btn-sm">
                        <i class="bi bi-play-fill "></i>
                    </a>
                    <a href="#" class="btn btn-warning m-1 btn-sm ">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>
            </div>

            <div class="card m-1">
                <div class="card-body">
                    <div class="card-title">Titulo do card</div>
                    <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, fugit?</div>
                    <a href="#" class="btn btn-info m-1 btn-sm">
                        <i class="bi bi-play-fill "></i>
                    </a>
                    <a href="#" class="btn btn-secondary m-1 btn-sm ">
                        <i class="bi bi-x-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>