<div class="container">
    <h1 class="fs-2 mb-3 mt-2">Editar <span class="fw-bold">{{nome?.value}}</span></h1>
    <form [formGroup]="form" (submit)="gravar()" class="col-6">
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" formControlName="nome" class="form-control">
            <div *ngIf="nome?.errors?.['required']" class="form-text">O nome precisa ser preenchido</div>
            <div *ngIf="nome?.errors?.['minLength']" class="form-text">O nome precisa ter pelo menos 2 caracteres</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input type="date" formControlName="dataNascimento" class="form-control">
            <div *ngIf="dataNascimento?.errors?.['required']" class="form-text">A data de nascimento precisa ser
                preenchida</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="tel" class="form-control" mask="(00) 00000-0000" formControlName="telefone"
                aria-describedby="telefoneHelp">
            <div id="telefoneHelp" class="form-text">Apenas numeros</div>
            <div *ngIf="telefone?.errors?.['required']" class="form-text">O telefone precisa ser preenchido</div>
            <div *ngIf="telefone?.errors?.['maxLength']" class="form-text">O telefone precisa ter ao maximo 30
                caracteres</div>
        </div>

        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input type="text" class="form-control" mask="000.000.000-00" formControlName="cpf"
                aria-describedby="cpfHelp">
            <div id="cpfHelp" class="form-text">Apenas numeros</div>
            <div *ngIf="cpf?.errors?.['required']" class="form-text">O CPF precisa ser preenchido</div>
            <div *ngIf="cpf?.errors?.['maxLength']" class="form-text">O CPF precisa ter ao maximo 11 caracteres</div>
        </div>

        <div class="mb-3">
            <label class="form-label">CRM</label>
            <input type="text" formControlName="crm" mask="00000-SS" class="form-control">
            <div *ngIf="crm?.errors?.['required']" class="form-text">O CRM precisa ser preenchido</div>
            <div *ngIf="crm?.errors?.['maxLength']" class="form-text">O CRM precisa ter ao maximo 7S caracteres</div>
        </div>

        <button type="submit" class="btn btn-primary m-2">Enviar</button>
        <a class="btn btn-secondary" [routerLink]="['/medico', 'listar']">Voltar</a>
    </form>
</div>