<div class="container">
    <h1 class="fs-2 mb-3 mt-2">Editar Nome do Médico aqui</h1>
    <form>
        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Data de Nascimento</label>
            <input type="date" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label">Telefone</label>
            <input type="tel" class="form-control" aria-describedby="telefoneHelp">
            <div id="telefoneHelp" class="form-text">Apenas numeros</div>
        </div>

        <div class="mb-3">
            <label class="form-label">CPF</label>
            <input type="number" class="form-control" aria-describedby="cpfHelp">
            <div id="cpfHelp" class="form-text">Apenas numeros</div>
        </div>

        <div class="mb-3">
            <label class="form-label">CRM</label>
            <input type="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>