<div class="container">
    <h1 class="fs-2 mt-2 mb-3">Atendimentos</h1>

    <a [routerLink]="['/atendimento','cadastrar']" class="btn btn-primary btn-sm">Cadastrar</a>

    <hr>
    <div class="row">
        <div *ngFor="let item of atendimentos" class=" col-lg-4">
            <div class="card m-1">
                <div class="card-body">
                    <div class="card-title fw-semibold fs-5">{{item.tipo}}</div>
                    <div class="card-title fw-semibold fs-6">Medico Responsavel: {{item.medico}}</div>
                    <div class="card-body">
                        <a [routerLink]="['/atendimento','editar',item.id]" class="btn btn-primary m-1">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a [routerLink]="['/atendimento','excluir',item.id]" class="btn btn-danger m-1  ">
                            <i class="bi bi-x-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>